.vitrina-chiffo-shirts {
    
    border: 2px solid #ccc; /* Borde de la vitrina */
    padding: 20px; /* Espacio dentro de la vitrina */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    border-radius: 10px; /* Esquinas redondeadas */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas */
    gap: 20px; /* Espacio entre las tarjetas */
}


.contenedor-tarjeta-resenia {
    text-align: center; /* Centra el texto dentro de la tarjeta */
}

.tarjeta-resenia-chiffo {
    background-color: #bebebe; /* Fondo de la tarjeta */
    border: 1px solid #ddd; /* Borde de la tarjeta */
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 15px; /* Espacio dentro de la tarjeta */
    transition: transform 0.2s; /* Efecto de transición para hover */
}

.tarjeta-resenia-chiffo:hover {
    transform: scale(1.05); /* Aumenta el tamaño al pasar el mouse */
}

.tarjeta-resenia-chiffo i{
    display: block;
    margin-top: 5px;
}

.tarjeta-resenia-chiffo img {
    max-width: 100%; /* Asegura que la imagen no desborde */
    border-radius: 5px; /* Esquinas redondeadas para la imagen */
}

@media (max-width: 1000px) {
    .vitrina-chiffo-shirts {
        border: 2px solid #ccc; /* Borde de la vitrina */
        padding: 20px; /* Espacio dentro de la vitrina */
        background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
        border-radius: 10px; /* Esquinas redondeadas */
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Crea 3 columnas */
        gap: 20px; /* Espacio entre las tarjetas */
    }
}