.container-vitrina-chiffo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 110px;
}

.vitrina-chiffo-shirts {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.titulo-reseñas-chiffo {
    color: white;
    font-family: 'LCD Solid', sans-serif;
    padding: 1rem;
    margin: 3rem;
    background-color: black;
    border-radius: 0.5rem;
    letter-spacing: 3px;
}

.contenedor-tarjeta-resenia {
    text-align: center;
}

.tarjeta-resenia-chiffo {
    background-color: #bebebe;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.2s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Más sombra */
}

.tarjeta-resenia-chiffo:hover {
    transform: scale(1.05);
}

.tarjeta-resenia-chiffo i {
    display: block;
    margin-top: 5px;
}

.tarjeta-resenia-chiffo img {
    max-width: 100%;
    max-height: 200px; /* Asegura altura uniforme */
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 1270px) {
    .vitrina-chiffo-shirts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 840px) {
    .vitrina-chiffo-shirts {
        grid-template-columns: 1fr;
        padding-top: 10%; /* Reduce padding superior en móvil */
    }

    .titulo-reseñas-chiffo {
        margin-top: 6rem;
    }

    .container-vitrina-chiffo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        padding-top: 80px;
    }
}
